{% extends "layout.html" %}

{% block content %}
<h2>Forgot password</h2>
<form method="post" action="{{ url_for('forgot') }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="text" name="nickname" placeholder="Nickname" required>

    <input type="text" name="a1" placeholder="Answer to question 1" required>
    <input type="text" name="a2" placeholder="Answer to question 2" required>
    <input type="text" name="a3" placeholder="Answer to question 3" required>

    <input type="password" name="new_password" placeholder="New password (8+, letters+digits+special)" required>
    <button type="submit">Reset</button>
</form>
<div style="text-align:center;">
  <a href="{{ url_for('index') }}">🔙 Back to Login</a>
</div>
{% endblock %}

