{% extends "layout.html" %}

{% block content %}
<h2>Register</h2>
<form method="post" action="{{ url_for('register') }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="text" name="fullname" placeholder="Full name" required>
    <input type="text" name="nickname" placeholder="Nickname" required>
    <input type="password" name="password" placeholder="Password (8+, letters+digits+special)" required>

    <input type="text" name="q1" placeholder="Security question 1" required>
    <input type="text" name="a1" placeholder="Answer 1" required>
    <input type="text" name="q2" placeholder="Security question 2" required>
    <input type="text" name="a2" placeholder="Answer 2" required>
    <input type="text" name="q3" placeholder="Security question 3" required>
    <input type="text" name="a3" placeholder="Answer 3" required>

    <button type="submit">Create account</button>
</form>
<div style="text-align:center;">
  <a href="{{ url_for('index') }}">🔙 Back to Login</a>
</div>
{% endblock %}
